{% extends "base.html" %}
{% block title %}success{% endblock %}
{% block containercontent %}
<h2>success</h2>
<p>Thank you, <strong>{{ name }}</strong>, for authorizing twauth-web an access token for <a href="https://twitter.com/{{ screen_name }}">@{{
		screen_name }}</a>.</p>
<p>Here is what we pulled from the API on your behalf:</p>
<ul>
    <li>Your Email Address: {{ email }}</li>
    <li>Your User ID: {{ user_id }}</li>
    <li>Your Profile Image URL: <a href="{{ profile_img }}" target="_blank">{{ profile_img }}</a></li>
</ul>

 <pre>
    {{ profile_data_json }}
 </pre>
 <p>All response:
 </p>
  <pre>
  {{ all_resp_data }}
  </pre>
<a href="/" class="btn btn-small btn-primary">Let me try again</a>
<hr>
{% endblock %}